In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('citibike.csv')

Датафрейм можно агрегировать по некоторому столбцу, используя метод groupby. Группы представляются словарем, где группируемому значению сопоставлены индексы строк

In [3]:
df.groupby(['usertype']).groups

{'Customer': Int64Index([0, 3, 4, 15, 22], dtype='int64'),
 'Subscriber': Int64Index([ 1,  2,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20,
             21, 23, 24, 25, 26, 27, 28, 29],
            dtype='int64')}

С помощью метода first можно вывести первую строку из каждых групп

In [4]:
df.groupby(['bikeid']).first()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,usertype,birth year,gender
bikeid,,,,,,,,,,,,,,
14676,466,7/1/2016 00:00:49,7/1/2016 00:08:35,128,MacDougal St & Prince St,40.727103,-74.002971,250,Lafayette St & Jersey St N,40.724561,-73.995653,Subscriber,1989.0,1
14701,1226,7/1/2016 00:02:20,7/1/2016 00:22:46,127,Barrow St & Hudson St,40.731724,-74.006744,529,W 42 St & 8 Ave,40.757570,-73.990985,Subscriber,1985.0,1
15444,672,7/1/2016 00:00:45,7/1/2016 00:11:57,459,W 20 St & 11 Ave,40.746745,-74.007756,347,Greenwich St & W Houston St,40.728846,-74.008591,Subscriber,1991.0,1
15514,609,7/1/2016 00:00:31,7/1/2016 00:10:40,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,212,W 16 St & The High Line,40.743349,-74.006818,Customer,NaN,0
15666,472,7/1/2016 00:00:55,7/1/2016 00:08:48,319,Fulton St & Broadway,40.711066,-74.009447,263,Elizabeth St & Hester St,40.717591,-73.996224,Subscriber,1986.0,2
15740,2199,7/1/2016 00:01:54,7/1/2016 00:38:34,347,Greenwich St & W Houston St,40.728846,-74.008591,346,Bank St & Hudson St,40.736529,-74.006180,Subscriber,1983.0,1
16326,362,7/1/2016 00:02:01,7/1/2016 00:08:04,157,Henry St & Atlantic Ave,40.690893,-73.996123,324,DeKalb Ave & Hudson Ave,40.689888,-73.981013,Subscriber,1966.0,1
16345,191,7/1/2016 00:00:19,7/1/2016 00:03:31,3090,N 8 St & Driggs Ave,40.717746,-73.956001,3107,Bedford Ave & Nassau Ave,40.723117,-73.952123,Subscriber,1986.0,2
16564,1145,7/1/2016 00:01:17,7/1/2016 00:20:23,377,6 Ave & Canal St,40.722438,-74.005664,477,W 41 St & 8 Ave,40.756405,-73.990026,Subscriber,1978.0,1
17010,464,7/1/2016 00:01:56,7/1/2016 00:09:41,527,E 33 St & 2 Ave,40.744023,-73.976056,504,1 Ave & E 16 St,40.732219,-73.981656,Subscriber,1987.0,2
17431,704,7/1/2016 00:00:02,7/1/2016 00:11:47,459,W 20 St & 11 Ave,40.746745,-74.007756,347,Greenwich St & W Houston St,40.728846,-74.008591,Customer,NaN,0
17540,511,7/1/2016 00:01:59,7/1/2016 00:10:31,254,W 11 St & 6 Ave,40.735324,-73.998004,251,Mott St & Prince St,40.723180,-73.994800,Subscriber,1983.0,2
18069,419,7/1/2016 00:01:59,7/1/2016 00:08:58,128,MacDougal St & Prince St,40.727103,-74.002971,435,W 21 St & 6 Ave,40.741740,-73.994156,Subscriber,1992.0,2
18871,767,7/1/2016 00:00:51,7/1/2016 00:13:39,254,W 11 St & 6 Ave,40.735324,-73.998004,439,E 4 St & 2 Ave,40.726281,-73.989780,Subscriber,1976.0,1
19507,1735,7/1/2016 00:02:29,7/1/2016 00:31:24,293,Lafayette St & E 8 St,40.730287,-73.990765,174,E 25 St & 1 Ave,40.738177,-73.977387,Subscriber,1992.0,1
20381,1442,7/1/2016 00:00:54,7/1/2016 00:24:56,515,W 43 St & 10 Ave,40.760094,-73.994618,511,E 14 St & Avenue B,40.729387,-73.977724,Subscriber,1994.0,2
21035,2229,7/1/2016 00:02:04,7/1/2016 00:39:14,453,W 22 St & 8 Ave,40.744751,-73.999154,423,W 54 St & 9 Ave,40.765849,-73.986905,Customer,NaN,0
22022,328,7/1/2016 00:02:11,7/1/2016 00:07:40,492,W 33 St & 7 Ave,40.750200,-73.990931,540,Lexington Ave & E 29 St,40.743116,-73.982154,Subscriber,1972.0,1
22314,1353,7/1/2016 00:01:08,7/1/2016 00:23:41,3150,E 85 St & York Ave,40.775369,-73.948034,461,E 20 St & 2 Ave,40.735877,-73.982050,Subscriber,1990.0,1
22569,306,7/1/2016 00:01:07,7/1/2016 00:06:13,264,Maiden Ln & Pearl St,40.707065,-74.007319,376,John St & William St,40.708621,-74.007222,Subscriber,1981.0,1
23249,533,7/1/2016 00:01:45,7/1/2016 00:10:39,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,212,W 16 St & The High Line,40.743349,-74.006818,Customer,NaN,0
23648,492,7/1/2016 00:02:32,7/1/2016 00:10:44,481,S 3 St & Bedford Ave,40.712605,-73.962644,3109,Banker St & Meserole Ave,40.726060,-73.956210,Subscriber,1991.0,2
24159,492,7/1/2016 00:00:18,7/1/2016 00:08:31,293,Lafayette St & E 8 St,40.730287,-73.990765,466,W 25 St & 6 Ave,40.743954,-73.991449,Subscriber,1984.0,1
25210,687,7/1/2016 00:00:24,7/1/2016 00:11:52,459,W 20 St & 11 Ave,40.746745,-74.007756,347,Greenwich St & W Houston St,40.728846,-74.008591,Customer,NaN,0
25283,659,7/1/2016 00:02:13,7/1/2016 00:13:13,237,E 11 St & 2 Ave,40.730473,-73.986724,519,Pershing Square North,40.751873,-73.977706,Subscriber,1970.0,1
25304,777,7/1/2016 00:01:04,7/1/2016 00:14:02,372,Franklin Ave & Myrtle Ave,40.694528,-73.958089,460,S 4 St & Wythe Ave,40.712859,-73.965903,Subscriber,1981.0,1
25755,556,7/1/2016 00:00:51,7/1/2016 00:10:07,433,E 13 St & Avenue A,40.729554,-73.980572,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,Subscriber,1989.0,1
25788,351,7/1/2016 00:02:05,7/1/2016 00:07:57,490,8 Ave & W 33 St,40.751551,-73.993934,485,W 37 St & 5 Ave,40.750380,-73.983390,Subscriber,1987.0,1
25845,209,7/1/2016 00:02:31,7/1/2016 00:06:01,410,Suffolk St & Stanton St,40.720664,-73.985180,473,Rivington St & Chrystie St,40.721101,-73.991925,Subscriber,1984.0,1
25925,1568,7/1/2016 00:01:54,7/1/2016 00:28:03,347,Greenwich St & W Houston St,40.728846,-74.008591,540,Lexington Ave & E 29 St,40.743116,-73.982154,Subscriber,1986.0,1

Аггрегация чаще всего выполняется, чтобы вычислить что-то по группе, например среднюю продолжительность поездок:

In [5]:
df.groupby(['bikeid'])['tripduration'].mean()

bikeid
14676     466
14701    1226
15444     672
15514     609
15666     472
15740    2199
16326     362
16345     191
16564    1145
17010     464
17431     704
17540     511
18069     419
18871     767
19507    1735
20381    1442
21035    2229
22022     328
22314    1353
22569     306
23249     533
23648     492
24159     492
25210     687
25283     659
25304     777
25755     556
25788     351
25845     209
25925    1568
Name: tripduration, dtype: int64

Либо найти количество велосипедов на станциях

In [6]:
df.groupby(['start station name'])['bikeid'].count()

start station name
6 Ave & Canal St               1
8 Ave & W 33 St                1
Barrow St & Hudson St          1
E 11 St & 2 Ave                1
E 13 St & Avenue A             1
E 33 St & 2 Ave                1
E 85 St & York Ave             1
Franklin Ave & Myrtle Ave      1
Fulton St & Broadway           1
Greenwich Ave & 8 Ave          2
Greenwich St & W Houston St    2
Henry St & Atlantic Ave        1
Lafayette St & E 8 St          2
MacDougal St & Prince St       2
Maiden Ln & Pearl St           1
N 8 St & Driggs Ave            1
S 3 St & Bedford Ave           1
Suffolk St & Stanton St        1
W 11 St & 6 Ave                2
W 20 St & 11 Ave               3
W 22 St & 8 Ave                1
W 33 St & 7 Ave                1
W 43 St & 10 Ave               1
Name: bikeid, dtype: int64

Группировка может происходить по нескольким столбцам

In [7]:
df.groupby(['start station name', 'end station name'])['tripduration'].mean()

start station name           end station name
6 Ave & Canal St             W 41 St & 8 Ave                1145.000000
8 Ave & W 33 St              W 37 St & 5 Ave                 351.000000
Barrow St & Hudson St        W 42 St & 8 Ave                1226.000000
E 11 St & 2 Ave              Pershing Square North           659.000000
E 13 St & Avenue A           Greenwich Ave & 8 Ave           556.000000
E 33 St & 2 Ave              1 Ave & E 16 St                 464.000000
E 85 St & York Ave           E 20 St & 2 Ave                1353.000000
Franklin Ave & Myrtle Ave    S 4 St & Wythe Ave              777.000000
Fulton St & Broadway         Elizabeth St & Hester St        472.000000
Greenwich Ave & 8 Ave        W 16 St & The High Line         571.000000
Greenwich St & W Houston St  Bank St & Hudson St            2199.000000
                             Lexington Ave & E 29 St        1568.000000
Henry St & Atlantic Ave      DeKalb Ave & Hudson Ave         362.000000
Lafayette St & E 8 St        E 25 St & 1 Ave                1735.000000
                             W 25 St & 6 Ave                 492.000000
MacDougal St & Prince St     Lafayette St & Jersey St N      466.000000
                             W 21 St & 6 Ave                 419.000000
Maiden Ln & Pearl St         John St & William St            306.000000
N 8 St & Driggs Ave          Bedford Ave & Nassau Ave        191.000000
S 3 St & Bedford Ave         Banker St & Meserole Ave        492.000000
Suffolk St & Stanton St      Rivington St & Chrystie St      209.000000
W 11 St & 6 Ave              E 4 St & 2 Ave                  767.000000
                             Mott St & Prince St             511.000000
W 20 St & 11 Ave             Greenwich St & W Houston St     687.666667
W 22 St & 8 Ave              W 54 St & 9 Ave                2229.000000
W 33 St & 7 Ave              Lexington Ave & E 29 St         328.000000
W 43 St & 10 Ave             E 14 St & Avenue B             1442.000000
Name: tripduration, dtype: float64

#### Выходной формат groupby - series или dataframe

In [8]:
df.groupby(['bikeid'])['tripduration'].mean().head(3)

bikeid
14676     466
14701    1226
15444     672
Name: tripduration, dtype: int64

In [9]:
df.groupby(['bikeid'])[['tripduration']].mean().head(3)

        tripduration
bikeid
14676            466
14701           1226
15444            672

In [10]:
df.groupby('starttime', as_index=False).agg({"tripduration": "sum"})

            starttime  tripduration
0   7/1/2016 00:00:02           704
1   7/1/2016 00:00:18           492
2   7/1/2016 00:00:19           191
3   7/1/2016 00:00:24           687
4   7/1/2016 00:00:31           609
5   7/1/2016 00:00:45           672
6   7/1/2016 00:00:49           466
7   7/1/2016 00:00:51          1323
8   7/1/2016 00:00:54          1442
9   7/1/2016 00:00:55           472
10  7/1/2016 00:01:04           777
11  7/1/2016 00:01:07           306
12  7/1/2016 00:01:08          1353
13  7/1/2016 00:01:17          1145
14  7/1/2016 00:01:45           533
15  7/1/2016 00:01:54          3767
16  7/1/2016 00:01:56           464
17  7/1/2016 00:01:59           930
18  7/1/2016 00:02:01           362
19  7/1/2016 00:02:04          2229
20  7/1/2016 00:02:05           351
21  7/1/2016 00:02:11           328
22  7/1/2016 00:02:13           659
23  7/1/2016 00:02:20          1226
24  7/1/2016 00:02:29          1735
25  7/1/2016 00:02:31           209
26  7/1/2016 00:02:32           492

#### Функция agg

In [11]:
df.groupby(['start station name']).agg({'tripduration': sum, 
                                     'usertype': "count", 
                                     'starttime': 'first'})

                             tripduration  usertype          starttime
start station name
6 Ave & Canal St                     1145         1  7/1/2016 00:01:17
8 Ave & W 33 St                       351         1  7/1/2016 00:02:05
Barrow St & Hudson St                1226         1  7/1/2016 00:02:20
E 11 St & 2 Ave                       659         1  7/1/2016 00:02:13
E 13 St & Avenue A                    556         1  7/1/2016 00:00:51
E 33 St & 2 Ave                       464         1  7/1/2016 00:01:56
E 85 St & York Ave                   1353         1  7/1/2016 00:01:08
Franklin Ave & Myrtle Ave             777         1  7/1/2016 00:01:04
Fulton St & Broadway                  472         1  7/1/2016 00:00:55
Greenwich Ave & 8 Ave                1142         2  7/1/2016 00:00:31
Greenwich St & W Houston St          3767         2  7/1/2016 00:01:54
Henry St & Atlantic Ave               362         1  7/1/2016 00:02:01
Lafayette St & E 8 St                2227         2  7/1/2016 00:00:18
MacDougal St & Prince St              885         2  7/1/2016 00:00:49
Maiden Ln & Pearl St                  306         1  7/1/2016 00:01:07
N 8 St & Driggs Ave                   191         1  7/1/2016 00:00:19
S 3 St & Bedford Ave                  492         1  7/1/2016 00:02:32
Suffolk St & Stanton St               209         1  7/1/2016 00:02:31
W 11 St & 6 Ave                      1278         2  7/1/2016 00:00:51
W 20 St & 11 Ave                     2063         3  7/1/2016 00:00:02
W 22 St & 8 Ave                      2229         1  7/1/2016 00:02:04
W 33 St & 7 Ave                       328         1  7/1/2016 00:02:11
W 43 St & 10 Ave                     1442         1  7/1/2016 00:00:54

Можно определить функции для агрегации в словаре и передать в agg

In [12]:
aggregations = {'tripduration': lambda x: max(x), 
                'usertype': "count", 
                'starttime': 'first'
               }

In [13]:
df.groupby('bikeid').agg(aggregations).head()

        tripduration  usertype          starttime
bikeid
14676            466         1  7/1/2016 00:00:49
14701           1226         1  7/1/2016 00:02:20
15444            672         1  7/1/2016 00:00:45
15514            609         1  7/1/2016 00:00:31
15666            472         1  7/1/2016 00:00:55

Если необходимо после агрегации найти среднее, минимальное и максимальное значение, то эти функции можно указать в листе

In [14]:
df.groupby(['start station name', 'bikeid']).agg({'tripduration': [min, max, sum],
                                     'starttime': [min, 'first', 'nunique']})

                                   tripduration              \
                                            min   max   sum
start station name          bikeid
6 Ave & Canal St            16564          1145  1145  1145
8 Ave & W 33 St             25788           351   351   351
Barrow St & Hudson St       14701          1226  1226  1226
E 11 St & 2 Ave             25283           659   659   659
E 13 St & Avenue A          25755           556   556   556
E 33 St & 2 Ave             17010           464   464   464
E 85 St & York Ave          22314          1353  1353  1353
Franklin Ave & Myrtle Ave   25304           777   777   777
Fulton St & Broadway        15666           472   472   472
Greenwich Ave & 8 Ave       15514           609   609   609
                            23249           533   533   533
Greenwich St & W Houston St 15740          2199  2199  2199
                            25925          1568  1568  1568
Henry St & Atlantic Ave     16326           362   362   362
Lafayette St & E 8 St       19507          1735  1735  1735
                            24159           492   492   492
MacDougal St & Prince St    14676           466   466   466
                            18069           419   419   419
Maiden Ln & Pearl St        22569           306   306   306
N 8 St & Driggs Ave         16345           191   191   191
S 3 St & Bedford Ave        23648           492   492   492
Suffolk St & Stanton St     25845           209   209   209
W 11 St & 6 Ave             17540           511   511   511
                            18871           767   767   767
W 20 St & 11 Ave            15444           672   672   672
                            17431           704   704   704
                            25210           687   687   687
W 22 St & 8 Ave             21035          2229  2229  2229
W 33 St & 7 Ave             22022           328   328   328
W 43 St & 10 Ave            20381          1442  1442  1442

                                            starttime                     \
                                                  min              first
start station name          bikeid
6 Ave & Canal St            16564   7/1/2016 00:01:17  7/1/2016 00:01:17
8 Ave & W 33 St             25788   7/1/2016 00:02:05  7/1/2016 00:02:05
Barrow St & Hudson St       14701   7/1/2016 00:02:20  7/1/2016 00:02:20
E 11 St & 2 Ave             25283   7/1/2016 00:02:13  7/1/2016 00:02:13
E 13 St & Avenue A          25755   7/1/2016 00:00:51  7/1/2016 00:00:51
E 33 St & 2 Ave             17010   7/1/2016 00:01:56  7/1/2016 00:01:56
E 85 St & York Ave          22314   7/1/2016 00:01:08  7/1/2016 00:01:08
Franklin Ave & Myrtle Ave   25304   7/1/2016 00:01:04  7/1/2016 00:01:04
Fulton St & Broadway        15666   7/1/2016 00:00:55  7/1/2016 00:00:55
Greenwich Ave & 8 Ave       15514   7/1/2016 00:00:31  7/1/2016 00:00:31
                            23249   7/1/2016 00:01:45  7/1/2016 00:01:45
Greenwich St & W Houston St 15740   7/1/2016 00:01:54  7/1/2016 00:01:54
                            25925   7/1/2016 00:01:54  7/1/2016 00:01:54
Henry St & Atlantic Ave     16326   7/1/2016 00:02:01  7/1/2016 00:02:01
Lafayette St & E 8 St       19507   7/1/2016 00:02:29  7/1/2016 00:02:29
                            24159   7/1/2016 00:00:18  7/1/2016 00:00:18
MacDougal St & Prince St    14676   7/1/2016 00:00:49  7/1/2016 00:00:49
                            18069   7/1/2016 00:01:59  7/1/2016 00:01:59
Maiden Ln & Pearl St        22569   7/1/2016 00:01:07  7/1/2016 00:01:07
N 8 St & Driggs Ave         16345   7/1/2016 00:00:19  7/1/2016 00:00:19
S 3 St & Bedford Ave        23648   7/1/2016 00:02:32  7/1/2016 00:02:32
Suffolk St & Stanton St     25845   7/1/2016 00:02:31  7/1/2016 00:02:31
W 11 St & 6 Ave             17540   7/1/2016 00:01:59  7/1/2016 00:01:59
                            18871   7/1/2016 00:00:51  7/1/2016 00:00:51
W 20 St & 11 Ave            15444   7/1/2016 00:00:45  7/1/2016 00:00:45
                            17431   7/1/2016 00:00:02  7/1/2016 00:00:02
                            25210   7/1/2016 00:00:24  7/1/2016 00:00:24
W 22 St & 8 Ave             21035   7/1/2016 00:02:04  7/1/2016 00:02:04
W 33 St & 7 Ave             22022   7/1/2016 00:02:11  7/1/2016 00:02:11
W 43 St & 10 Ave            20381   7/1/2016 00:00:54  7/1/2016 00:00:54


                                   nunique
start station name          bikeid
6 Ave & Canal St            16564        1
8 Ave & W 33 St             25788        1
Barrow St & Hudson St       14701        1
E 11 St & 2 Ave             25283        1
E 13 St & Avenue A          25755        1
E 33 St & 2 Ave             17010        1
E 85 St & York Ave          22314        1
Franklin Ave & Myrtle Ave   25304        1
Fulton St & Broadway        15666        1
Greenwich Ave & 8 Ave       15514        1
                            23249        1
Greenwich St & W Houston St 15740        1
                            25925        1
Henry St & Atlantic Ave     16326        1
Lafayette St & E 8 St       19507        1
                            24159        1
MacDougal St & Prince St    14676        1
                            18069        1
Maiden Ln & Pearl St        22569        1
N 8 St & Driggs Ave         16345        1
S 3 St & Bedford Ave        23648        1
Suffolk St & Stanton St     25845        1
W 11 St & 6 Ave             17540        1
                            18871        1
W 20 St & 11 Ave            15444        1
                            17431        1
                            25210        1
W 22 St & 8 Ave             21035        1
W 33 St & 7 Ave             22022        1
W 43 St & 10 Ave            20381        1